@charset "utf-8";
#contents img{float:left; margin-left:2.5%; margin-right:50%;}
#contents div{float:left; width:93%; height:300px; border: 2px solid #BBBBBB; margin-left:3%; margin-top:20px;}

.profile ul{float:left; width:100%;}
.profile ul li{width:90%; height:20px; float:left; margin-left:5%; margin-top:14px; border-bottom:1px solid #DFDFD0;}
.profile ul input{float:right; margin-right:5%; margin-top:18px;}

.Rroom{width:90%; float:left; margin-top:14px; margin-left:5%;  overflow:auto;}
.Rroom li{width:100%; float:left;}
.Rroom li.Rlist{margin-top:3%;}
.Rroom li ul{width:75%; float:left; border:1px solid #BDBDAE;}
.Rroom li ul li{width:100%;float:left; margin-top:8px; margin-left:5%; margin-bottom:8px;}
.Rroom li input{ float:right; margin-top:20px; margin-left:1%;}
 
.NaGul{margin-bottom:20px;}
.NaGul img{width:95%;}
.NaGulHwagIn{width:100%; height:215px;  overflow:auto;}
.NaGulHwagIn li.NaGul1{width:90%; float:left;  border:1px solid #9B9B8C; margin-left:5%; margin-top:2%;}
.NaGulHwagIn li.NaGul1 a{color:#000000;}
.NaGulHwagIn li.NaGul1 a:hover{color:#FF2693;}
.NaGulHwagIn li ul li{ float:left;}
.NaGulHwagIn li ul{width:90%; float:left; height:10%;}
.NaGulHwagIn li input{ float:right; margin-right:2.5%; margin-top:12px}

.NaGulTitle{width:90%; margin-left:5%; margin-top:5px;overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.NaGulDay{margin-top:5px; margin-left:5%;}
.answer{margin-top:5px; margin-left:5%; color:#0000B3;}
.answer2{margin-top:5px; margin-left:5%; color:#D90036;}

.contract{margin-bottom:20px;}
.contractA{float:left; width:90%; height:200px; overflow:auto; margin-left:5%;}
.contractA li{text-align:auto; line-height:20px; white-space:pre-line; border:1px solid #BBBBBB;}
.contract input{float:right; margin-top:10px; margin-right:5%;}

@media only screen and (min-width: 769px) {
#contents div{width:45%; height:300px;  margin-left:3%; margin-top:20px;}


@media only screen and (min-width: 961px) {
#contents div{width:45%; height:300px;  margin-left:3%; margin-top:20px;}

}




















